<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div *ngFor="let car of cars" class="col">
        <div class="card shadow-sm">
          <!-- <img class="bd-placeholder-img card-img-top"
          width="100%"
          height="225" src="{{ apiURL }}{{ carImage }}" alt="{{car.descriptions}}"> -->
          <div class="card-body">
            <p class="card-text">
                {{car.descriptions}}
            </p>
            <p class="card-text">
                <small class="text-muted">Günlük Ücret: {{car.dailyPrice}}</small><br>
                <small class="text-muted">Renk: {{car.colorName}}</small><br>
                <small class="text-muted">Marka: {{car.brandName}}</small>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button routerLink="/cars/{{ car.id }}" type="button" class="btn btn-sm btn-outline-secondary">
                  DETAY
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>