<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mb-3">
    <input type="text" [(ngModel)]="filterCarText" class="form-control" id="filterCarText" placeholder="Aramak istenen Araba">
  </div>
  <div *ngIf="filterCarText.length>2" class="alert alert-success">
      {{filterCarText}} aradınız
  </div>
  <div class="mb-3"><app-carfilter></app-carfilter></div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngIf="cars.length>0; else elseBlock">
    <div *ngFor="let car of cars | filterCar:filterCarText" class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p class="card-text">
                <b>{{car.carName}}</b><br>
                {{car.descriptions}}
            </p>
            <p class="card-text">
                <small class="text-muted">Günlük Ücret: {{car.dailyPrice | vatAdded:18}}</small><br>
                <small class="text-muted">Renk: {{car.colorName}}</small><br>
                <small class="text-muted">Marka: {{car.brandName}}</small><br>
                <small class="text-muted">Model Yılı: {{car.modelYear | date:'yyyy'}}</small>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button routerLink="/cars/{{ car.id }}" type="button" class="btn btn-sm btn-outline-secondary">
                  DETAY
                </button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
  <div class="alert alert-danger" role="alert">
    Aradığınız kriterlerde araç bulunmamaktadır.
  </div>
</ng-template>