

  <div class="row">
    <div class="col-sm-5">
      <select class="form-select " [(ngModel)]="selectedColor" (ngModelChange)='onColorSelected($event)' aria-label=".form-select-sm example">
        <option disabled value="0">Renk Seçiniz</option>
        <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
      </select>
    </div>
    <div class="col-sm-5">
      <select class="form-select" [(ngModel)]="selectedBrand" (ngModelChange)='onBrandSelected($event)' aria-label=".form-select-sm example">
        <option disabled value="0">Marka Seçiniz</option>
        <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
      </select>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary w-100" (click)="filterCars()" >BUL</button>
    </div>
  </div>