<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">RENT A CAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>
      <div *ngIf="!isAuthenticated()">
        <button class="btn btn-primary mybtn" routerLink="/login">Log-in</button>
        <button style="margin-left: 10px;" class="btn btn-primary mybtn" routerLink="/register">Register</button>
      </div>
      <div *ngIf="isAuthenticated()">
        <div class="nav-item dropdown">
          <a style="color: whitesmoke;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i style="margin-right: 10px; font-size: 1.2rem;" class="fas fa-user-circle"></i><strong
              *ngIf="user">{{user.firstName}} {{user.lastName}}</strong>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <li><a class="dropdown-item" routerLink="cards"><i style="margin-right: 10px;" class="fas fa-cogs"></i>Kartlarım</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="changePassword"><i style="margin-right: 10px;"
                  class="fas fa-cogs"></i>Şifremi Değiştir</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logOut()"><i style="margin-right: 10px;"
                  class="fas fa-sign-out-alt"></i>Log-Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>